<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.gridone.scraping.model"/>
    </typeAliases>

    <mappers>
    	<mapper resource="mapper/KeywordMapper.xml"/>
    	<mapper resource="mapper/NewsMapper.xml"/>
    	<mapper resource="mapper/NewsMonitoringMapper.xml"/>
    	<mapper resource="mapper/UserMapper.xml"/>
    	<mapper resource="mapper/ScheduleMapper.xml"/>
    	<mapper resource="mapper/TextMiningMapper.xml"/>
    </mappers>
</configuration>