<!-- <!DOCTYPE html> -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
	<head th:fragment="heads">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>spring boot dailyNews test</title>
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>GridOne News</title>
		
		<!-- jquery -->
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/handlebars-v4.0.11.js}"></script>
		<script th:src="@{/js/handlebars-utils.js}"></script>
		<script th:src="@{/js/moment.js}"></script>
		<script th:src="@{/js/jquery.serialize-object.js}"></script>
		
		
		<!-- jquery UI -->
		<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}"/>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" />
		<script th:src="@{/js/bootstrap.min.js}"></script>