<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>

	<div id="addEnterprise" th:fragment="addEnterprise" class="modal fade"
		role="dialog" aria-labelledby="gridSystemModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="gridSystemModalLabel">스크랩 키워드</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					<!-- <h5 class="modal-title">Modal title</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button> -->
				</div>
				<div class="modal-body">
					<div class="container-fluid">
					<form id="addForm">
						<div class="row">
							<div class="input-group">
							  <span class="input-group-addon" id="basic-addon1">검색어</span>
							  <input type="text" class="form-control" name="enterprise" id="addEnterpriseName">
							</div>
						</div>
						<div class="row" style="margin-top: 2%">
							<div class="input-group">
							  <span class="input-group-addon" id="basic-addon1">추가 키워드</span>
							  <input type="text" class="form-control" name="keywords" id="addKeywords"  placeholder=",단위로  구분됩니다.">
							</div>
						</div>
					</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="addSave">Save</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->

	<!-- modify -->
	<div id="modifySetting" th:fragment="modifySetting" class="modal fade"
		role="dialog" aria-labelledby="gridSystemModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<!-- <button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="gridSystemModalLabel">스크랩 키워드 수정</h4> -->
					<h4 class="modal-title" id="gridSystemModalLabel">스크랩 키워드 수정</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<form id="modifyForm">
						<div class="row">
							<div class="input-group">
							  <span class="input-group-addon" id="basic-addon1">검색어</span>
							  <input type="text" class="form-control" name="enterprise" id="editEnterpriseName">
							</div>
						</div>
						<div class="row" style="margin-top: 2%">
							<div class="input-group">
							  <span class="input-group-addon" id="basic-addon1">추가 키워드</span>
							  <input type="text" class="form-control" name="keywords" id="editKeywords" value="RPA,업무자동화" placeholder=",단위로  구분됩니다.">
							</div>
						</div>
						</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
					<!-- <button type="button" class="btn btn-danger" id="deleteSave" >Delete</button> -->
					<button type="button" class="btn btn-primary" id="modifySave">Save</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	
	<!--  -->
	<div id="sendMailUser" th:fragment="sendMailUser" class="modal fade"
		role="dialog" aria-labelledby="gridSystemModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<!-- <button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="gridSystemModalLabel">메일발송</h4> -->
					<h4 class="modal-title" id="gridSystemModalLabel">메일발송</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
					<form id="mailForm">
						<div class="row">
							<div class="input-group">
							  <span class="input-group-addon" id="basic-addon1">메일입력</span>
							  <input type="text" class="form-control" name="emailTo" id="emailTo">
							</div>
							<div class="input-group">
								<span class="input-group-addon" id="basic-addon1">기간</span>
								<input type="text" id="startDate" readonly="readonly" placeholder="start date"> ~ 
								<input type="text" id="endDate"  readonly="readonly" placeholder="end date">
							</div>
						</div>
					</form>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="sendMail">Send</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!--  -->
	
	<!--  -->
	<div id="scrapNewsByDate" th:fragment="scrapNewsByDate" class="modal fade"
		role="dialog" aria-labelledby="gridSystemModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<!-- <button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="gridSystemModalLabel">메일발송</h4> -->
					<h4 class="modal-title" id="gridSystemModalLabel">스크랩 시간입력</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<input type="text" id="startDatePicker" readonly="readonly" placeholder="start date"> ~ 
						<input type="text" id="endDatePicker"  readonly="readonly" placeholder="end date">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="allNewsInsert()">Scrap</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!--  -->
</body>
</html>